* {
  margin: 0;
  padding: 0; }

body {
  font-family: helvetica, arial; }

a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff; }

.fw-container {
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-width: 920px;
  /*min-height: 450px;*/
  position: relative;
  background-size: cover; }
  .fw-container .container {
    position: relative;
    /*max-width: 1280px;
    min-width: 780px;
    min-height: 450px;*/
    /*background: rgba(200, 100, 255, 0.3);*/
    text-align: center;
    padding: 1% 0;
    margin: 0 auto; }
    .fw-container .container .inner-container {
      width: 500px;
      margin: 0 auto;
      padding: 75px 40px; }
      .fw-container .container .inner-container .headline {
        font-size: 50px;
        padding: 5px 0; }
      .fw-container .container .inner-container .caption {
        margin: 10px 0px;
        padding: 5px;
        line-height: 1.5; }

.slide-odd {
    background-attachment: fixed;
    z-index: 1; }
.slide-even {
    z-index: 2;
    background-color: #444;
    color: #fff;
    /*-webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);*/
    height: 400px; }

#slide-1 {
  background-image: url(images/looking-up.jpg);
  height: 900px;
}
  #slide-1 .container .inner-container {
    margin-top: 10%;
    margin-right: 10%;
    color: #fff; }

#slide-1 .small {
  font-size: 30px;
}

#slide-1 .large {
  font-size: 50px;
}

  #slide-2 .inner-container {
    /*margin-top: 4%;*/
    color: #fff;
    width: 900px; }
    #slide-2 .inner-container .caption {
      padding: 5px 164px; }

#slide-3 {
  background-image: url(images/smiths.jpg);
  height: 700px; }


  #slide-4 .inner-container {
    /*margin-top: 4%;*/
    color: #fff;
    width: 900px; }
    #slide-4 .inner-container .caption {
      padding: 5px 164px; }

#slide-5 {
  background: url(images/cityscape.jpg) center center no-repeat white;
  background-size: cover;
  height: 845px; }
